@font-face {
    font-family: 'Inter';
    src: local(''),
        url(../fonts/Inter-Regular.ttf) format('truetype'),
        url(../fonts/Inter-Medium.ttf) format('truetype'),
        url(../fonts/Inter-Bold.ttf) format('truetype'),
        url(../fonts/Inter-ExtraBold.ttf) format('truetype');
}

$font-color-fff:#FFFFFF;
$font-color-black:#000000;
$font-color-f2f2f2:#F2F2F2;
$font-color-df:#DFDFDE;
$font-color-4a:#4A4A4A;
$font-color-78:#787878;
$font-color-25:#252525;
$font-color-a8:#A8A8A8;
$font-color-3:#333333;

%d-f {
    display: flex;
}

%d-f-sb {
    display: flex;
    justify-content: space-between;
}

%d-f-sb-fldr-col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

%d-f-sa {
    display: flex;
    justify-content: space-around;
}

%icons-s {
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: cover;
}

%ph-settings {
    background-repeat: no-repeat;
    background-size: cover;
}

%for-headers {
    @extend %header-text-44px;
}

%main-header-text-55px {
    font-weight: 800;
    font-size: 55px;
    line-height: 60px;
}

%header-text-44px {
    font-weight: 700;
    font-size: 44px;
    line-height: 51px;
}

%slider-text600 {
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
}

%slider-text400 {
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
}

%discription-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
}

%discription-text-600w {
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
}

%text-18px-no-w {
    font-size: 18px;
    line-height: 32px;
}

%text-16px {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
}

%text-16px-w600 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
}

%ul-li-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.01em;
}

%ul-li-text600 {
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.01em;
}

%text-13px {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
}

%text-11px {
    font-weight: 700;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 0.17em;
}

%direction-box {
    width: 320px;
    height: 200px;
    margin-bottom: 32px;
    padding: 24px 32px;
}

%line-setting {
    width: 1216px;
    height: 2px;
}

%input-style-small {
    background: $font-color-f2f2f2;
    border-radius: 4px;
    width: 293px;
    height: 56px;
    border: 0px;
    padding-left: 19px;
    margin-top: 11px;
}

%gray-text13 {
    @extend %text-13px;
    color: $font-color-78;
}

%svg-icons-resolution {
    width: 120px;
    height: 120px;
}

%svg-icon-position {
    top: 104px;
    left: 232px;
}

%cover-box-resolution {
    width: 488px;
    height: 400px;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

body {
    margin: auto;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 33%, rgba(255, 255, 255, 1) 33%);
}

header {
    max-width: 1216px;
    margin: auto;
    margin-top: 20px;
}

main {
    width: 1216px;
    margin: auto;
}

footer {
    width: 1216px;
    margin: auto;
}

a {
    text-decoration: none;
}

.header-box {
    @extend %d-f-sb
}

.header-logo {
    background-image: url(../img/logo.svg);
    @extend %ph-settings;
    width: 152px;
    height: 40px;
}

.profile-menu {
    @extend %d-f;
}

.logo-items {
    @extend %d-f-sb;
    width: 140px;
    margin-right: 31px;

    .vk {
        background-image: url(../img/vk.svg);
        @extend %icons-s;
    }

    .inst {
        background-image: url(../img/instagram.svg);
        @extend %icons-s;
    }

    .wa {
        background-image: url(../img/whatsapp.svg);
        @extend %icons-s;
    }
}

.profile {
    @extend %d-f-sb;
    width: 194px;
    margin-right: 13px;

    .header-avatar-icon {
        background-image: url(../img/avatar.svg);
        @extend %icons-s;
    }

    p {
        @extend %text-16px-w600;
        color: $font-color-black;
        margin: auto;
    }
}

.button {
    width: 177px;
    height: 30px;
    @extend %d-f;
    background-color: black;
    border-radius: 4px;

    p {
        @extend %text-11px;
        text-transform: uppercase;
        color: $font-color-fff;
        width: 153px;
        height: 22px;
        margin: auto;
    }
}

.navigation {
    margin-top: 38px;

    ul {
        @extend %d-f-sb;

        li {
            padding: 4px 12px;
            background: $font-color-f2f2f2;
            border-radius: 28px;
            list-style-type: none;
            @extend %text-16px;
        }
    }
}

.container-1 {
    @extend %d-f-sb;
}

.about-education {
    width: 720px;
    background-image: url(../img/first-bg.svg);
    @extend %ph-settings;
    margin-top: 70px;
    padding: 40px;
    position: relative;

    h1 {
        @extend %main-header-text-55px;
        width: 506px;
        color: $font-color-black;
    }

    p {
        width: 550px;
        @extend %discription-text;
        color: $font-color-black;
        margin-top: 21px;
    }

    ul {
        @extend %d-f;
        margin-left: 16px;
        margin-top: 68px;

        li {
            @extend %ul-li-text;
        }

        li:not(:first-child) {
            margin-left: 40px;
            padding-left: 7px;
            @extend %ul-li-text;
        }
    }

    .moscow-img {
        background-image: url(../img/Moscow-image.svg);
        @extend %ph-settings;
        width: 135px;
        height: 135px;
        position: absolute;
        top: 321px;
        left: 625px;
    }

    .share-icon {
        background-image: url(..//img/share.svg);
        @extend %ph-settings;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 42px;
        left: 738px;
    }
}

.your-education {
    width: 304px;
    height: 424px;
    background-color: $font-color-black;
    margin-top: 70px;
    padding: 32px 40px 40px 40px;

    .sliders-box {
        @extend %d-f-sb;


        .slider-focus,
        .slider {
            width: 95px;
            height: 2px;
            background-color: $font-color-25;
        }

        .slider-focus {
            background-color: $font-color-df;
        }
    }

    .head-text-education {
        @extend %d-f-sb;
        height: 40px;
        margin-top: 15px;

        h1 {
            @extend %discription-text-600w;
            color: $font-color-fff;
        }

        p {
            @extend %text-13px;
            color: $font-color-78;
            margin-top: 12px;
        }
    }

    .question {
        margin-top: 95px;
        font-weight: 600;
        @extend %text-18px-no-w;
        color: $font-color-fff;
    }

    .answers {
        display: flex;
        flex-wrap: wrap;

        p {
            padding: 4px 12px;
            border: 1px $font-color-25 solid;
            border-radius: 28px;
            list-style-type: none;
            @extend %text-16px-w600;
            color: $font-color-a8;
            margin-right: 2px;
            margin-top: 18px;
        }
    }

    .button-education {
        display: flex;
        background-color: $font-color-3;
        width: 304px;
        height: 48px;
        border-radius: 4px;
        margin-top: 53px;

        p {
            @extend %text-16px-w600;
            color: $font-color-fff;
            margin: auto;
        }
    }
}

.bottom-line {
    width: 1216px;
    height: 1px;
    background-color: $font-color-df;
    margin: auto;
    margin-top: 70px;
}

.container-2 {
    @extend %d-f-sa;

    .emblem-1,
    .emblem-2,
    .emblem-3,
    .emblem-4,
    .emblem-5 {
        width: 160px;
        height: 72px;
        margin-top: 56px;
    }

    .emblem-1 {
        background-image: url(..//img/emblem1.svg);
        @extend %ph-settings;
    }

    .emblem-2 {
        background-image: url(..//img/emblem2.svg);
        @extend %ph-settings;
    }

    .emblem-3 {
        background-image: url(..//img/emblem3.svg);
        @extend %ph-settings;
    }

    .emblem-4 {
        background-image: url(..//img/emblem4.svg);
        @extend %ph-settings;
    }
}

.container-3 {
    margin-top: 92px;

    .head-text-cont3 {
        @extend %main-header-text-55px;
        color: $font-color-black;
    }
}

.text-slider {
    @extend %d-f;
    margin-top: 32px;

    .slidertext-focus {
        @extend %d-f;
        width: 139px;
        height: 46px;
        margin-right: 35px;

        .text-focus-choose {
            @extend %slider-text600;
            margin: auto;
        }

        .degree-focus {
            @extend %ul-li-text600;
            color: $font-color-black;
            margin: 0px 8px;
        }
    }
}

.slidertext-2 {
    width: 145px;
    height: 46px;
    @extend %d-f;
    margin-right: 23px;
}

.slidertext-3 {
    width: 145px;
    height: 46px;
    @extend %d-f;
}

.text-choose {
    @extend %slider-text400;
    color: $font-color-a8;
    margin: auto;
    margin-right: 8px;
}

.degree {
    @extend %ul-li-text600;
    color: $font-color-a8;
}

.line {
    width: 1216px;
    height: 2px;
    background-color: $font-color-df;
    margin-top: 16px;
    margin-bottom: 31px;

    .focus-line {
        width: 106px;
        height: 3px;
        background-color: $font-color-black;
    }
}

.study-directions {
    @extend %d-f-sb;
    flex-wrap: wrap;
}

.directions-box1 {
    background-image: url(../img/directions-img1.svg);
    @extend %ph-settings;
    @extend %direction-box;
    position: relative;

    .direction-header {
        @extend %discription-text-600w;
        color: $font-color-black;
    }

    .svg-icon-1 {
        background-image: url(../img/svg-icon1.svg);
        @extend %ph-settings;
        @extend %svg-icons-resolution;
        position: absolute;
        @extend %svg-icon-position;
    }

    ul {
        margin-top: 9px;

        li {
            @extend %ul-li-text;
            color: $font-color-black;
            margin-left: 19px;
        }
    }

    .consult-button {
        width: 160px;
        height: 30px;
        border: 1px $font-color-black solid;
        border-radius: 4px;
        margin-top: 66px;
        position: relative;

        .ellipsis {
            background-image: url(../img/ellipsis.svg);
            @extend %ph-settings;
            width: 12px;
            height: 10px;
            position: absolute;
            top: 9px;
            left: 14px;
        }

        p {
            @extend %text-11px;
            text-transform: uppercase;
            color: $font-color-black;
            text-align: center;
            padding-top: 4px;
            padding-left: 30px;
        }
    }
}

.directions-box2 {
    @extend %ph-settings;
    @extend %direction-box;
    background-image: url(../img/directions-img2.svg);
    position: relative;

    .direction-header {
        @extend %discription-text-600w;
        color: $font-color-black;
    }

    .svg-icon-2 {
        background-image: url(../img/svg-icon2.svg);
        @extend %ph-settings;
        @extend %svg-icons-resolution;
        position: absolute;
        @extend %svg-icon-position;
    }

    ul {
        margin-top: 9px;

        li {
            @extend %ul-li-text;
            color: $font-color-black;
            margin-left: 19px;
        }
    }

    .consult-button {
        width: 160px;
        height: 30px;
        border: 1px $font-color-black solid;
        border-radius: 4px;
        margin-top: 66px;
        position: relative;

        .ellipsis {
            background-image: url(../img/ellipsis.svg);
            @extend %ph-settings;
            width: 12px;
            height: 10px;
            position: absolute;
            top: 9px;
            left: 14px;
        }

        p {
            @extend %text-11px;
            text-transform: uppercase;
            color: $font-color-black;
            text-align: center;
            padding-top: 4px;
            padding-left: 30px;
        }
    }
}

.directions-box3 {
    @extend %ph-settings;
    @extend %direction-box;
    background-image: url(../img/directions-img3.svg);
    position: relative;

    .direction-header {
        @extend %discription-text-600w;
        color: $font-color-black;
    }

    .svg-icon-3 {
        background-image: url(../img/svg-icon3.svg);
        @extend %ph-settings;
        @extend %svg-icons-resolution;
        position: absolute;
        @extend %svg-icon-position;
    }

    ul {
        margin-top: 9px;

        li {
            @extend %ul-li-text;
            color: $font-color-black;
            margin-left: 19px;
        }
    }

    .consult-button {
        width: 160px;
        height: 30px;
        border: 1px $font-color-black solid;
        border-radius: 4px;
        margin-top: 66px;
        position: relative;

        .ellipsis {
            background-image: url(../img/ellipsis.svg);
            @extend %ph-settings;
            width: 12px;
            height: 10px;
            position: absolute;
            top: 9px;
            left: 14px;
        }

        p {
            @extend %text-11px;
            text-transform: uppercase;
            color: $font-color-black;
            text-align: center;
            padding-top: 4px;
            padding-left: 30px;
        }
    }
}

.directions-box4 {
    @extend %ph-settings;
    @extend %direction-box;
    background-image: url(../img/directions-img4.svg);
    position: relative;

    .direction-header {
        @extend %discription-text-600w;
        color: $font-color-black;
    }

    .svg-icon-4 {
        background-image: url(../img/svg-icon4.svg);
        @extend %ph-settings;
        @extend %svg-icons-resolution;
        position: absolute;
        @extend %svg-icon-position;
    }

    ul {
        margin-top: 9px;

        li {
            @extend %ul-li-text;
            color: $font-color-black;
            margin-left: 19px;
        }
    }

    .consult-button {
        width: 160px;
        height: 30px;
        border: 1px $font-color-black solid;
        border-radius: 4px;
        margin-top: 66px;
        position: relative;

        .ellipsis {
            background-image: url(../img/ellipsis.svg);
            @extend %ph-settings;
            width: 12px;
            height: 10px;
            position: absolute;
            top: 9px;
            left: 14px;
        }

        p {
            @extend %text-11px;
            text-transform: uppercase;
            color: $font-color-black;
            text-align: center;
            padding-top: 4px;
            padding-left: 30px;
        }
    }
}

.directions-box5 {
    @extend %ph-settings;
    @extend %direction-box;
    background-image: url(../img/directions-img5.svg);
    position: relative;

    .direction-header {
        @extend %discription-text-600w;
        color: $font-color-black;
    }

    .svg-icon-5 {
        background-image: url(../img/svg-icon5.svg);
        @extend %ph-settings;
        @extend %svg-icons-resolution;
        position: absolute;
        @extend %svg-icon-position;
    }

    ul {
        margin-top: 9px;

        li {
            @extend %ul-li-text;
            color: $font-color-black;
            margin-left: 19px;
        }
    }

    .consult-button {
        width: 160px;
        height: 30px;
        border: 1px $font-color-black solid;
        border-radius: 4px;
        margin-top: 66px;
        position: relative;

        .ellipsis {
            background-image: url(../img/ellipsis.svg);
            @extend %ph-settings;
            width: 12px;
            height: 10px;
            position: absolute;
            top: 9px;
            left: 14px;
        }

        p {
            @extend %text-11px;
            text-transform: uppercase;
            color: $font-color-black;
            text-align: center;
            padding-top: 4px;
            padding-left: 30px;
        }
    }
}

.directions-box6 {
    @extend %ph-settings;
    @extend %direction-box;
    background-image: url(../img/directions-img6.svg);
    position: relative;

    .direction-header {
        @extend %discription-text-600w;
        color: $font-color-black;
    }

    .svg-icon-6 {
        background-image: url(../img/svg-icon6.svg);
        @extend %ph-settings;
        @extend %svg-icons-resolution;
        position: absolute;
        @extend %svg-icon-position;
    }

    ul {
        margin-top: 9px;

        li {
            @extend %ul-li-text;
            color: $font-color-black;
            margin-left: 19px;
        }
    }

    .consult-button-last {
        width: 160px;
        height: 30px;
        border: 1px $font-color-black solid;
        border-radius: 4px;
        margin-top: 38px;
        position: relative;

        .ellipsis {
            background-image: url(../img/ellipsis.svg);
            @extend %ph-settings;
            width: 12px;
            height: 10px;
            position: absolute;
            top: 9px;
            left: 14px;
        }

        p {
            @extend %text-11px;
            text-transform: uppercase;
            color: $font-color-black;
            text-align: center;
            padding-top: 4px;
            padding-left: 30px;
        }
    }
}

.button-24 {
    width: 1216px;
    height: 48px;
    display: flex;
    border: 1px solid $font-color-df;
    border-radius: 4px;
    position: relative;

    p {
        margin: auto;
        @extend %text-11px;
        text-transform: uppercase;
        color: $font-color-black;
    }

    .arrow {
        background-image: url(..//img/arrow.svg);
        background-repeat: no-repeat;
        width: 10px;
        height: 12px;
        position: absolute;
        left: 740px;
        top: 19px;
    }
}

.container-4 {
    margin-top: 120px;

    h1 {
        @extend %header-text-44px;
        color: $font-color-black;
        width: 519px;
    }

    .header-reverse {
        width: 259px;
    }

    .advantages-box {

        @extend %d-f-sb;

        .advantages-info {
            @extend %d-f-sa;
            flex-direction: column;
        }

        .cover-box1 {
            background-image: url(../img/diplom-img.svg);
            @extend %ph-settings;
            width: 488px;
            height: 344px;
        }

        .cover-box2 {
            background-image: url(../img/cover-box2.svg);
            @extend %ph-settings;
            @extend %cover-box-resolution;
        }

        .cover-box3 {
            background-image: url(../img/cover-box3.svg);
            @extend %ph-settings;
            @extend %cover-box-resolution;
        }
    }
}

.advantages-box:not(:first-child) {
    margin-top: 190px;
}


.advantages-about {
    margin-top: 20px;
    @extend %discription-text;
    color: $font-color-black;
    width: 515px;
}

.advantages-about:last-child {
    margin-right: 90px;
}

.text-slider-advantages {
    width: 592px;
    @extend %d-f;
    margin-top: 47px;

    .edtext-adv-focus {
        @extend %slider-text600;
        color: $font-color-black;
        margin-right: 103px;
    }

    .edtext-adv {
        @extend %slider-text400;
        color: $font-color-a8;
        margin-right: 96px;
    }
}

.line-advantages {
    margin-top: 17px;
    background-color: $font-color-df;
    width: 592px;
    height: 2px;

    .line-focus {
        width: 88px;
        height: 3px;
        background-color: $font-color-black;
    }
}

.button-advantages {
    @extend %d-f;
    width: 279px;
    height: 48px;
    border: 1px solid $font-color-black;
    border-radius: 4px;

    p {
        margin: auto;
        @extend %text-16px-w600;
    }
}

.advantages-box:last-child {
    flex-direction: row-reverse;
}

.faq {
    padding-top: 130px;

    .q-a {
        .header-q-a {
            @extend %d-f-sb;
            margin-top: 120px;

            h1 {
                @extend %header-text-44px;
                color: $font-color-fff;
            }

            p {
                @extend %gray-text13;
                width: 277px;
                margin-top: 9px;
            }
        }

        .line-q-a {
            @extend %line-setting;
            background-color: $font-color-4a;
            margin: 37px 0px;
        }

        h2 {
            @extend %discription-text-600w;
            line-height: 40px;
            color: $font-color-fff;
            width: 800px;
        }
    }
}

.more-questions {
    background-color: $font-color-fff;
    @extend %d-f;

    .first-block {
        @extend %d-f-sb-fldr-col;
        width: 328px;
        height: 294px;
        margin: 94px 0px 61px 56px;

        h1 {
            @extend %for-headers;
            color: $font-color-black;
        }

        .answer-info {
            width: 260px;
            @extend %text-18px-no-w;
            color: $font-color-black;
        }

        .manager {
            @extend %d-f-sb;
            flex-direction: row;
            width: 301px;
            margin: 0 12px;

            .profile-icon-manager {
                width: 50px;
                height: 50px;
                background-image: url(../img/manager-avatar.svg);
                @extend %ph-settings;
            }

            .manager-answer {
                @extend %gray-text13;
                width: 232px;
            }
        }
    }

    .second-block {
        width: 328px;
        height: 310px;
        margin: 94px 0px 49px 40px;
        @extend %d-f-sb-fldr-col;

        input-question {
            @extend %text-16px;
            color: $font-color-black;
        }

        .input-second-b {
            @extend %input-style-small;
        }

        .personal-info {
            @extend %gray-text13;
        }
    }

    .third-block {
        margin: 94px 0px 49px 40px;

        .q-write {
            @extend %text-16px;
            color: $font-color-black;
        }

        .box-info-mq {
            @extend %d-f-sb-fldr-col;
            height: 320px;

            .few-questions {
                @extend %input-style-small;
                padding-bottom: 150px;
                width: 325px;
            }
        }

        .button-3rdblock {
            background-color: $font-color-black;
            width: 344px;
            height: 63px;
            border-radius: 4px;
            @extend %d-f;

            .button-text-mq {
                @extend %text-16px;
                margin: auto;
                color: $font-color-fff;
            }
        }
    }
}

footer {
    height: 356px;

    .footer-menu {
        @extend %d-f-sb;
        margin-top: 130px;

        .menu-section1 {
            width: 224px;
            height: 136px;
            @extend %d-f-sb-fldr-col;
        }

        .text-footer {
            @extend %gray-text13;
        }

        .text-footer2 {
            @extend %gray-text13;
            color: $font-color-fff;
        }
    }

    .menu-section2 {
        @extend %d-f-sb;
        width: 520px;

        ul {
            @extend %d-f-sb-fldr-col;
            height: 190px;

            li {
                @extend %text-16px;
                list-style-type: none;
                color: $font-color-fff;
            }
        }
    }

    .menu-section3 {
        width: 152px;
        height: 190px;
        @extend %d-f-sb-fldr-col;
        margin-right: 67px;

        .text-menu-section3 {
            height: 79px;
            @extend %d-f-sb-fldr-col;

            .contact-number {
                @extend %text-16px;
                color: $font-color-fff;
            }

            .worktime {
                @extend %gray-text13;
                color: $font-color-fff;
            }
        }
    }
}

.pick-education {
    height: 64px;
    @extend %d-f;
    position: relative;
    margin-top: 94px;

    h1 {
        @extend %discription-text;
        color: $font-color-fff;
        margin: auto;
    }

    .dot {
        background-image: url(../img/dot.svg);
        @extend %ph-settings;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 29px;
        left: 734px;
    }
}

@media screen and (max-width: 1216px) {
    body {
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 27%, rgba(255, 255, 255, 1) 27%);
    }

    header {
        max-width: 960px;
        margin: auto;
        margin-top: 20px;

        .navigation {
            margin: auto;

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 20px;

                li {
                    margin: 10px;
                }
            }
        }
    }

    main {
        width: 960px;
        margin: auto;

        .container-1 {
            .about-education {
                width: 520px;
                height: 380px;

                h1 {
                    font-size: 43px;
                    max-width: 80%;
                }

                p {
                    font-size: 15px;
                    max-width: 80%;
                }

                ul {


                    li {
                        font-size: 11px;
                    }
                }

                .moscow-img {
                    width: 80px;
                    height: 80px;
                    top: 340px;
                    left: 505px;
                }

                .share-icon {
                    width: 20px;
                    height: 20px;
                    top: 50px;
                    left: 550px;
                }
            }

            .your-education {
                width: 270px;
                height: 389px;

                .sliders-box {

                    .slider-focus,
                    .slider {
                        max-width: 30%;
                    }

                    .slider-focus {}
                }

                .head-text-education {
                    margin-top: 27px;

                    h1 {
                        font-size: 30px;
                    }

                    p {
                        font-size: 20px;
                    }
                }

                .question {}

                .answers {


                    p {
                        font-size: 12px;
                    }
                }

                .button-education {
                    max-width: 70%;
                    margin: auto;
                    margin-top: 20px;
                }
            }
        }

        .bottom-line {
            width: 960px;
        }

        .container-3 {
            .line {
                width: 960px;
            }
        }

        .button-24 {
            width: 960px;

            .arrow {
                left: 620px;
            }
        }

        .container-4 {
            .advantages-box {
                display: flex;
                flex-direction: column;

                .advantages-info {
                    width: 960px;

                    h1 {
                        font-size: 34px;
                        width: 80%;
                    }

                    .text-slider-advantages {
                        p {
                            font-size: 20px;
                        }
                    }

                    .line-advantages {
                        max-width: 70%;
                    }
                }
            }

            .advantages-about {
                font-size: 20px;
                width: 80%;
            }


            .cover-box1,
            .cover-box2,
            .cover-box3 {
                margin-top: 30px;
                max-width: 100%;
            }
        }

        .faq {
            .q-a {
                .line-q-a {
                    width: 960px;
                }
            }
        }

        .more-questions {
            .first-block {


                h1 {
                    font-size: 30px;
                }

                .answer-info {
                    font-size: 15px;
                    width: 70%;
                }

                .manager {
                    margin: 0px 3px;

                    .profile-icon-manager {
                        width: 40px;
                        height: 40px;
                    }

                    .manager-answer {
                        font-size: 11px;
                        width: 80%;
                    }
                }
            }

            .second-block {
                margin: 104px 0px 49px 0px;

                input-question {
                    font-size: 15px;
                }

                .input-second-b {
                    width: 190px;
                }

                .personal-info {
                    font-size: 11px;
                    width: 90%;
                }
            }

            .third-block {
                margin: 101px 30px 0px 0px;


                .q-write {
                    font-size: 15px;
                }

                .box-info-mq {
                    height: 280px;

                    .few-questions {
                        width: 300px;
                    }
                }

                .button-3rdblock {
                    width: 319px;
                    margin-top: 30px;


                }
            }
        }
    }

    footer {
        width: 960px;

        .footer-menu {


            .menu-section1 {}

            .text-footer {
                font-size: 11px;
                width: 80%;
            }

            .text-footer2 {
                font-size: 12px;
                width: 80%;
            }
        }

        .menu-section2 {
            width: 45%;

            ul {

                li {
                    font-size: 13px;
                }
            }
        }

        .menu-section3 {
            margin-right: 33px;

            .text-menu-section3 {


                .contact-number {
                    font-size: 14px;

                    .worktime {
                        font-size: 11px;
                    }
                }
            }
        }

        .pick-education {
            .dot {
                left: 610px;
            }
        }
    }
}